            * {
                overflow: auto;
            }

            body {
                background-color: #8ba1bb;
                font-family: Arial;
            }
            p.categorie {
                color: white;
                background-color: black;                
                display: inline-block;
                padding: 8px 18px;
                margin-top: -20px;
                font-weight: bold;
                font-size: 16px;
                overflow: visible;
                
            }
            div.contenu {
                background-color: white;
                margin: 40px 8px 40px 8px;
                padding: 0px 8px 20px 8px;
                
                box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);
                overflow: visible;
            }
            h1 {
                text-align: center;
                margin-top: 10px;
                margin-bottom: 12px;
            }
            p.description {
                text-align: center;
                max-width: 400px;
                display: inline-block;
                font-size: 14px;
            }
            
            .center {
                text-align: center;
                width: 100% ;
            }
            div.categorie {
                margin-bottom: -20px;
                overflow: visible;
            }
            div.separateur {
                width: 100px;
                height: 1px;
                background-color: black;
                margin: 0px auto 0px auto;
            }
            div.infos {
                position: relative;
                
            }
            table.infos {
                position: absolute; 
                bottom: 0;
                color: white;
                background-color:#6c829dc0; 
                width: 100%; 
                height: 50px;
                
            }
            
            table.infos td {
                text-align: center;
                font-size: 12px;
                vertical-align: top;
            }
            table.infos th {
                font-size: 14px;
                vertical-align: bottom;
                padding-bottom: 8px;
            }
            img.infos{
                display: block;
                max-height: 400px;
                object-fit: cover;
                min-height: 200px;
                background-color: lightgray;
            }
            div.colonne {
                width: 100%;
                margin-top: 20px;        
            }
            div.colonne h2 {
                text-transform: uppercase;
                text-align: center;
                font-size: 16px;
                border-bottom: 5px solid #6c829d;
                padding-bottom: 5px;
            }

            div.colonne1 {
                
                display: inline-block;
                
            }
            
            div.liste p {
                text-align: center;
                border: 1px solid black;
                font-size: 14px;
                padding: 8px 0px;
                margin-top: 8px;
                margin-bottom: 0px;
            }
            table.preparation p.numero {
                background-color: #6c829d;
                color: white;
                text-align: center;
                height: 25px;
                width: 25px;
                font-size: 14px;
                box-sizing: border-box;
                padding: 4px 0px;
                font-weight: bold;
                border-radius: 50%;
                margin: 0px;
            }
            table.preparation td {
                vertical-align: top;                
            }
            td.preparation_etape {
                font-size: 14px ;
                padding-left: 10px;
                padding-bottom: 10px;
                
            }
            table.preparation tr {
                height: 40px;
            }

            
            /* styles pour ordi*/ 
            @media only screen and (min-width: 768px){
                div.contenu {
                    min-width: 350px;
                    margin: 60px 10% 80px 10%;
                    padding: 0px 20px 20px 20px;
                    max-width: 704px;
                }
                table.infos {                 
                height: 80px;                
                }
                table.infos td {
                font-size: 14px;
                }
                table.infos th {
                    font-size: 16px;
                }
                div.colonne {
                width: 45%;
                margin-top: 20px;        
                }
                

                div.colonne1 {
                    
                    display: inline-block;
                    
                }
                div.colonne2 {                
                    float: right;
                }

                @media only screen and (min-width: 900px){
                    div.contenu {
                        
                        margin-left: auto;
                        margin-right: auto;
                        
                    }


                }
            }